body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

h2,
h4 {
  text-align: center;
}

button:hover {
  cursor: pointer;
}

.home-page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content {
  padding: 50px;
}

.login-box,
.signup-box,
.redis-connection-box {
  width: 300px;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 40px;
  border-radius: 10px;
  margin-bottom: 20px;

  input,
  button {
    width: 100%;
    padding: 0;
    height: 25px;
    font-family: inherit;
    border: none;
    margin-bottom: 10px;
  }

  button {
    margin-top: 10px;
    background-color: aquamarine;
    border-radius: 5px;
  }

  button:hover {
    transform: scaleY(1.05);
  }
}

header {
  background-color: aliceblue;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  width: inherit;

  .header-left {
    padding-left: 40px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  .header-right {
    display: flex;
    align-items: center;
    padding-right: 40px;

    button {
      font-family: inherit;
      margin-left: 15px;
      border: none;
      background-color: inherit;
      border-radius: 10px;
      padding: 10px;
      font-size: large;
      a {
        text-decoration: none;
      }
    }
    button:hover {
      background-color: gainsboro;
    }
  }
}

.widget-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(8, 150px);

  .widget {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 20px;
    padding: 25px;
    background-color: rgb(255, 253, 253);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .small {
    height: 150px;
    width: 150px;
    grid-column: span 1;
    grid-row: span 1;
    padding: 10px;
  }

  .medium {
    height: 300px;
    width: 300px;
    grid-column: span 2;
    grid-row: span 2;
  }

  .large {
    height: 450px;
    width: 600px;
    grid-column: span 4;
    grid-row: span 3;
  }
}

#add-widget-button {
  position: fixed;
  bottom: 3vh;
  right: 3vw;
  height: 50px;
  width: 50px;
  font-size: xx-large;
  border-radius: 50px;
  border: none;
  background-color: greenyellow;
  color: white;
  opacity: 0.5;
}
#add-widget-button:hover {
  transform: scale(1.08);
  opacity: 1;
}

.modal {
  z-index: 2;
  width: 50vw;
  height: 80vh;
  left: 50%;
  top: 50%;
  position: fixed;
  background-color: yellow;
  font-size: 20px;
  transform: scale(0);
  transition: 200ms ease-in-out;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
  margin: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
  display: none;
  z-index: 1;
}

.overlay.active {
  display: flex;
}

footer {
  margin: 10px auto;
  /* position: fixed;
  bottom: 1vh; */
  .github-logo {
    margin-left: 10px;
    height: 20px;
    width: 20px;
    transition: transform 0.3s ease-in-out;
  }
  .github-logo:hover {
    transform: rotate(360deg) scale(1.2);
  }
}
