version: '3'

services:
  prod:
    image: redisphere/prod
    container_name: redisphere-container
    ports:
      - '3000:3000'
    volumes:
      - /usr/src/app
    environment:
      - MONGO_URI=mongodb+srv://restankowitz:1234@cluster0.mvwl90e.mongodb.net/?retryWrites=true&w=majority
      - NODE_ENV=production
      - PORT=3000
    command: npm run start
